@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  background: #fffdf6;
  font-family: "Inter", sans-serif;
  color: #575252;
  line-height: 1.5;
  font-size: 14px;
}

h1, h2 {
  font-family: "Montserrat", "sans-serif";
}

h1 {
  color: #3c3f3f;
  font-weight: 400;
  font-size: 1.3rem;
  margin:0;
}

h2 {
  color: #303131;
  font-weight: 400;
  margin: 0;
}

h3, h4, h5, h6 {
  font-weight: 300;
  margin:0;
}

hr {
  height: 0px;
  border: none;
  border-top: 1px solid #b1acac;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #363636;
}

/* CONTAINER  */

.main {
  width: 60%;
  margin: auto;
  border-top-left-radius: 20px;
}

.main img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.container {
  padding: 20px;
  margin-top: -120px;
}

/* INFORMATION  */

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.info-photo {
  width:20%;
  z-index: 10;
}

.info-name {
  margin: 8px 0 8px 0;
}

.info-detail-work-permission {
  color: red;
}

.info-general {
  padding: 5px 5px;
  border-radius: 20px;
  background-color: #5eaaa8;
  width:90px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.info-photo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:25px;
}

.info-name-permit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-name-permit p {
  color: red;
  font-size: 10px;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 5px;
}

.social-info {
  display: flex;
  justify-content: space-between;
  margin-top: 4.3rem;
}

.social-info a {
  cursor: pointer;
  color:rgb(28, 55, 145);
  margin-left: 7px;
}

.social-info-container a {
  color:#4c8b89;
  font-weight: 600;
  margin-right:5px;
  text-decoration: underline;
}

.social-project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
}

.project-container {
  padding: 5px 10px;
  background-color: #06ddd9;
  border-radius: 5px;
  font-weight: 400;
}

.project-container a {
  color: white;
}

/* TOOLTIP */

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: 80%;
  left: 120%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 600;
  color: red;
  font-size: 10px;
  font-family: inherit;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


/* SUMMARY  */

.summary,
.skills,
.languages,
.education,
.experience {
  margin-bottom: 1.6rem;
}

.summary p {
  margin-top: 20px;
}

/* SKILLS, LANGUAGES */

.skills-list-section {
  margin-top: 20px;
  width: 100%;
}

.skills-description,
.lang-description {
  display: flex;
  justify-content: space-between;
}

.skills-description p,
.lang-description p {
  margin: 0;
  padding-bottom:5px;
}

.skill-description-title {
  font-weight: bold;
}

.skill-description-items {
 font-style: italic;
}

.skills-stars {
  display: flex;
  font-size: 0.8rem;
  color: transparent;
  text-shadow: 0 0 0 #5eaaa8;
  align-items: center;
}

.skills-stars:hover {
  text-shadow: 0 0 0 #41817f;
}

.skills-stars span {
  text-shadow: 0 0 0 #bdbbbb;
}

.lang-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  width: 100%;
  margin-top: 20px;
}

/* EDUCATION  EXPERIENCE  */

.education-container,
.experience-container {
  margin-top: 20px;
}

.education-info,
.experience-info {
  display: grid;
  grid-template-columns: 1.2fr 2.3fr;
  column-gap: 50px;
  margin-bottom: 30px;
}

.education-info:last-child,
.experience-info:last-child {
  margin-bottom: 0;
}

.education-name,
.education-title,
.experience-name,
.experience-title {
  font-weight: bold;
  margin: 0 10px 0 0;
  font-size: 15px;
}

.education-date,
.education-location,
.experience-date,
.experience-location {
  font-size: 12px;
}

.education-date,
.education-location,
.experience-date {
  margin-top: .3rem;
}
.experience-description {
  padding: 0 0 0 15px;
  margin: 0;
}

.experience-description span {
  font-weight: bold;
}

.experience-title-location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* ICONS  */

.fa-envelope-square,
.fa-linkedin,
.fa-facebook-square,
.fa-github-square {
  font-size: 1.5rem;
  /* color: #5eaaa8; */
}

.fa-envelope-square:hover,
.fa-linkedin:hover,
.fa-facebook-square:hover,
.fa-github-square:hover {
  color: #41817f;
}
.fa-map-marker-alt {
  color: #5eaaa8;
  margin-right: 0.4rem;
}

.fa-html5,
.fa-css3-alt,
.fa-js-square,
.fa-react {
  font-size: 2rem;
  color: #fff;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 6rem 0 6rem;
}
/* PROJECTS  */

.text {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  margin-top: 2rem;
}

footer {
  font-size: 0.8rem;
  color: #5eaaa8;
  padding-bottom: 3rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .info {
    margin-top: 4rem;
    display: block;
  }

  .info-photo,
  .info-details {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .summary p {
    text-align: center;
  }

  /* SKILLS */

  /* td {
    display: block;
  } */

  .projects {
    /* align-self: center; */
    width: 100%;
    margin: 0;
  }

  .project {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .main {
    width: 100% !important;  
    margin: 0 !important;   
    border-radius: 0 !important;
  }

  body, p, h1, h2, h3, h4, h5 {
    font-size: 12pt; 
  }
}
